/* HOME.CSS */

.icon {
    width: 25px;
    margin-right: 1.5rem;
}

.icon:hover {
    transform: scale(1.2);
}

.main {
    background: url('./photos/suit_wide_bgChange.png') no-repeat;

    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

#banner {
    padding-top: 200px;
    padding-bottom: 55px;
}
/* ---------------------------------------------- */
/* .Typewriter__cursor {
    -webkit-animation: Typewriter-cursor 1s infinite;
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px
}

@-webkit-keyframes Typewriter-cursor {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}

@keyframes Typewriter-cursor {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
} */
/* ---------------------------------------------- */

#greetingText {
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  #cursor {
    display: inline-block;
    width: 2px;
    height: 0.8em; /* Adjust the height of the cursor */
    background-color: white;
    animation: blinkCursor 0.6s infinite;
  }

  /* Typing effect */
  @keyframes typing {
    from { width: 0 }
  }

  /* Blinking cursor */
  @keyframes blinkCursor {
    0%, 100% { opacity: 0 }
    50% { opacity: 1 }
  }

/* Screen width less than 768px will push #greetingText on top of face */
@media (max-width: 991px) {
    #banner {
        padding-top: 250px;
        padding-bottom: 55px;
    }
    #greetingText {
        font-size: 22px;
    }
}

#bio {
    font-family: 'Ubuntu', sans-serif;
}

.custom-hr {
    width: calc(100% - 95px);
}
