/* navbar.css */

.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    .navbar-nav {
        font-family: 'Roboto', sans-serif;
	justify-content: center;
	}
}

/* Elongate navbar when toggler disabled */
@media (min-width: 576px) {
    .navbar {
        height: 80px;
    }
}

.navbar-brand:hover {
    text-shadow: 0 0 10px yellow, 0 0 20px yellow;
}

#themeBtn:hover {
    transform: scale(1.2);
}
